<body>
	<div class="jumbotron jumbotron-home">
	    <div class="container">
	        <h1>Welcome to my website!</h1>
	        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
	        <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
	    </div>
	</div>

	<div class="jumbotron jumbotron-home-selection-background">
	    <div class="row">
	        <div class="jumbotron jumbotron-home-selection container">
		        <div class="jumbotron jumbotron-home-img1"></div>
		        <div class="container">
		        	<p class="p-home">This is test text, This is test text, This is test text, This is test text, This is test text</p>
		        </div>
		        <div class="container-home">
		        	<%= link_to "View details", "#", class: "btn btn-secondary"%>
		        </div>
		    </div>
	        <div class="jumbotron jumbotron-home-selection container">
		        <div class="jumbotron jumbotron-home-img2"></div>
		        <div class="container">
		        	<p class="p-home">This is test text, This is test text, This is test text, This is test text, This is test text</p>
		        </div>
		        <div class="container-home">
		        	<%= link_to "View details", "#", class: "btn btn-secondary"%>
		        </div>
		    </div>
	        <div class="jumbotron jumbotron-home-selection container">
		        <div class="jumbotron jumbotron-home-img3"></div>
		        <div class="container">
		        	<p class="p-home">This is test text, This is test text, This is test text, This is test text, This is test text</p>
		        </div>
		        <div class="container-home">
		        	<%= link_to "View details", "#", class: "btn btn-secondary"%>
		        </div>
		    </div>	
		</div>    
	</div>
</body>