// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('pexels-photo-753772.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.jumbotron-home-selection {
	background-color: #ffffff;
	width: 25%;
}
.jumbotron-home-img {
	background-image: url(image_path('self.png'));
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-position: center center;
}