// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('pexels-photo-753772.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
//    margin: 0 auto;
}

.jumbotron-home-selection-background {
	background-color: #ffffff;
//	width: 100%;
	background-size: cover;
	padding-top: 0%;
}

.jumbotron-home-selection {
	background-color: #ffffff;
	width: 33%;
	height: 50%;
//	position: relative;
//	margin: 0 auto;
}
.jumbotron-home-img1 {
	background-image: url(image_path('gear.png'));
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    width: 40%;
	margin: 0 auto;
    height: auto;
//    background-position: center center;

}
.jumbotron-home-img2 {
	background-image: url(image_path('paintbrush.png'));
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    width: 40%;
	margin: 0 auto;
    height: auto;
    background-position: center center;

}
.jumbotron-home-img3 {
	background-image: url(image_path('money.png'));
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    width: 40%;
	margin: 0 auto;
    height: auto;
    background-position: center center;

}
.p-home {
	text-align: center;
}

.container-home {
    margin: 0 auto;
    width: 100%;
	position: relative;
	text-align: center;
}